{% extends 'base.html' %}

{% block page_content %}

<div class="row">
    <div class="col-md-8">
        <form method="POST">
            <div class="mb-3">
                {{ form.first_name.label(class="form-label") }}
                {{ form.first_name(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.last_name.label(class="form-label") }}
                {{ form.last_name(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.pin_code.label(class="form-label") }}
                {{ form.pin_code(class="form-control") }}
            </div>
            <div class="mb-3 form-check">
                {{ form.is_active(class="form-check-input") }}
                {{ form.is_active.label(class="form-check-label") }}
            </div>
            {{ form.submit(class="btn btn-primary") }}
        </form>
    </div>
    <div class="col-md-4">
        <h6>Pomoc kod popunjavanja forme</h6>
        <p>Lorem, ipsum dolor sit ...</p>
    </div>
</div>


{% endblock page_content %}
